doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  title replit
//- label.required:after(style={ content:"*", color: red})
style.
  .required:after{
  content:"*";
  font-weight:bold;
  color: red;
  }
h1  Pet Tracker 
form(action='/action_page.php')
  h2  Add a New Pet
  label.required(for='name') Name:
  br
  input#name(type='text', name='name', required='')
  br
  label.required(for='pic') Profile Picture:
  br
  input#pic(type='text', name='pic', placeholder='Picture URL', required='')
  br
  br
  fieldset
    legend.required Species
    input#dog(type='radio', value='Dog', name='species', required='')
    label(for='dog') Dog
    br
    input#cat(type='radio', value='Cat', name='species')
    label(for='cat') Cat
    br
    input#bird(type='radio', value='Bird', name='species')
    label(for='bird') Bird
  br
  input#friendly(type='checkbox', name='friendly', value='Friendly')
  label(for='friendly')  Are They Friendly?
  br
  br
  input(type='submit', value='Add Pet!')
h2  Pet List 
